.container {
    text-align: center; /* 내용을 가운데 정렬합니다. */
    padding: 20px; /* 내용과 컨테이너 사이의 간격을 조정합니다. */
  }
  
  .title {
    font-size: 30px; /* 제목의 폰트 크기를 설정합니다. */
    margin-bottom: 25px; /* 제목과 작업 목록 사이의 간격을 조정합니다. */
  }
  
  .task-list {
    list-style: none; /* 목록 마커를 제거합니다. */
    padding: 0px; /* 목록의 패딩을 제거합니다. */
    width: 50%; /* 네모 박스의 가로 길이를 설정합니다. */
    margin: 0 auto; /* 가운데 정렬합니다. */
  }
  
  .task-item {
    display: flex;
    align-items: center;
    background-color: #2e2e2e; /* 작업 항목의 배경색을 설정합니다. */
    color: #ffffff;
    padding: 10px; /* 작업 항목의 내부 간격을 설정합니다. */
    margin-bottom: 10px; /* 작업 항목 사이의 간격을 조정합니다. */
    border-radius: 5px; /* 작업 항목의 모서리를 둥글게 만듭니다. */
  }
  .task-item label {
    flex: 1;
    text-align: center; /* 텍스트를 중앙에 위치시킵니다. */
  }
  .task-item input[type="checkbox"] {
    margin-right: 0px;
    align-self: flex-start; /* 체크박스를 왼쪽 가장자리에 위치시킵니다. */
    width: 20px; /* 체크박스의 가로 길이를 조정합니다. */
    height: 20px; /* 체크박스의 세로 길이를 조정합니다. */
  }
  .task-item input[type="checkbox"]:checked + label {
    color: rgb(138, 165, 255); /* 체크된 상태일 때 텍스트의 색상을 변경합니다. */
  }

  