body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.feeddel {
  float: right;
}

/* 화면을 수평으로 정렬하고 수직으로 가운데 정렬합니다. */
.dashboard-container {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

/* 대시보드 내용을 가운데 정렬합니다. */
.dashboard-content {
  text-align: center; /* 내용 가운데 정렬 */
}

/* 목록을 박스 형태로 표시하고, 내부 패딩을 부여합니다. */
.dashboard-content ul {
  padding: 20px;
}

/* 각 목록 항목을 박스 모양으로 스타일링합니다. */
.dashboard-content ul li {
  margin-bottom: 10px; /* 항목 간 여백 설정 */
  list-style: none;
}

/* 박스 모양의 버튼 스타일을 정의합니다. */
.dashboard-content ul li a {
  display: inline-block; /* 링크를 박스로 변환합니다. */
  padding: 10px 20px; /* 버튼의 내부 패딩 설정 */
  margin: 0 10px 10px 0; /* 버튼 간 여백 및 줄 바꿈 여백 설정 */
  border: 1px solid #2e2e2e; /* 테두리 스타일 설정 */
  border-radius: 5px; /* 버튼의 모서리를 둥글게 만듭니다. */
  text-decoration: none; /* 밑줄 제거 */
  color: #ffffff; /* 텍스트 색상 설정 */
  background-color: #2e2e2e;
  width: 300px;
}

/* 버튼에 호버 효과를 추가합니다. */
.dashboard-content ul li a:hover {
  background-color: #ffffff; /* 호버 시 배경색 변경 */
  color: #2e2e2e;
}
/* 테이블 컴포넌트의 CSS */
.table-container {
  font-family: Arial, sans-serif; /* 폰트 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

table {
  width: 60%; /* 테이블의 너비 */
  border-collapse: collapse; /* 테이블 선 겹치기 설정 */
  margin: 0 auto;
  padding: 0px; /* 목록의 패딩을 제거합니다. */
}

th, td {
  border: 1px solid #a5a5a5 !important; /* 셀 테두리 설정 */
  padding: 8px; /* 셀 안쪽 여백 설정 */
}

th {
  background-color: #333; /* 테이블 헤더 배경색 */
  color: white; /* 테이블 헤더 글자색 */
}

.highlight {
  background-color: #3a3a3a; /* 강조할 셀의 배경색 */
  color: #ffffff;
}

.edit-button {
  margin-top: 10px; /* 버튼 위쪽 여백 */
  padding: 5px 10px; /* 버튼 안쪽 여백 */
  background-color: white; /* 버튼 배경색 */
  color: #3a3a3a; /* 버튼 글자색 */
  cursor: pointer; /* 마우스 오버시 포인터 변경 */
  border-radius: 5px;
}

.edit-button:hover {
  background-color: #3a3a3a; /* 버튼 호버시 배경색 변경 */
  color: #ffffff;
}

span {
  color: rgb(238, 255, 0);
}
/* 스타일링 */
.health {
width: 60%;
border-collapse: collapse;
text-align: center;
}

.health th {
padding: 12px;
text-align: left;
background-color: #2e2e2e;
border-radius: 5px 0 0 5px;
}

.health td {
width: 30%;
background-color: #2e2e2e;
color: #ffffff;
border-color: #2e2e2e;
border-radius: 0 5px 5px 0;
}
.td1 {
  border-radius: 0 !important;
}
.Add {
float: right;
}

.red-background {
background-color: red !important;
}

.red-text {
text-align: center;
color: red;
font-weight: bold;
margin-left: 5px;

}
.red-number {
color: red  !important;
font-weight: bold;
}

.health-status {
display: flex;
align-items: center;
justify-content: center;
}

.btn-whitebase {
background-color: #2e2e2e;
color: rgb(255, 255, 255);
border: 1px solid #2e2e2e;
padding: 6px 12px;
margin: 0 auto;
display: block;
float: right;
}

.btn-whitebase:hover {
  background-color: #2e2e2e;
  color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  padding: 6px 12px;
  margin: 0 auto;
  border-radius: 5px;
  display: block;
  float: right;
}

.addFeed {
text-align: center;
}

.feedTime {
text-align: center;

}
.error-message {
color: red;
font-size: 12px;
}

h1, h2, h3 {
text-align: center;
}


.container {
  max-width: 600px;
  margin: auto;
  text-align: center; /* 내용을 가운데 정렬합니다. */
  padding: 20px; /* 내용과 컨테이너 사이의 간격을 조정합니다. */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.edit-heading {
  text-align: center;
}


.edit-form {
  text-align: center;
  width: 700px;
}


.edit-table {
  width: 100%; /* 전체 너비 지정 */
  border-collapse: collapse; /* 테이블 간격을 없애기 */
  background-color: #2e2e2e;
}

.edit-table td,
.edit-table th {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  color: rgb(14, 14, 14);
  color: #ffffff;
}

.input-field {
  width: 100%; /* 전체 너비 지정 */
  padding: 8px; /* 안쪽 간격 */
  margin-top: 4px; /* 위쪽 여백 */
  margin-bottom: 8px; /* 아래쪽 여백 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 너비 설정 */
}

.btn-center {
  display: block;
  margin: auto;
  background-color: #2e2e2e !important;
  border: 1px solid #2e2e2e;
  color: #ffffff !important;
}
.btn.btn-center:hover {
  background-color: #ffffff;
  color: #2e2e2e;
  border: 1px solid #2e2e2e;
}

.title {
  font-size: 30px; /* 제목의 폰트 크기를 설정합니다. */
  margin-bottom: 25px; /* 제목과 작업 목록 사이의 간격을 조정합니다. */
}

.task-list {
  list-style: none; /* 목록 마커를 제거합니다. */
  padding: 0px; /* 목록의 패딩을 제거합니다. */
  width: 50%; /* 네모 박스의 가로 길이를 설정합니다. */
  margin: 0 auto; /* 가운데 정렬합니다. */
}

.task-item {
  display: flex;
  align-items: center;
  background-color: #2e2e2e; /* 작업 항목의 배경색을 설정합니다. */
  color: #ffffff;
  padding: 10px; /* 작업 항목의 내부 간격을 설정합니다. */
  margin-bottom: 10px; /* 작업 항목 사이의 간격을 조정합니다. */
  border-radius: 5px; /* 작업 항목의 모서리를 둥글게 만듭니다. */
}
.task-item label {
  flex: 1;
  text-align: center; /* 텍스트를 중앙에 위치시킵니다. */
}
.task-item input[type="checkbox"] {
  margin-right: 0px;
  align-self: flex-start; /* 체크박스를 왼쪽 가장자리에 위치시킵니다. */
  width: 20px; /* 체크박스의 가로 길이를 조정합니다. */
  height: 20px; /* 체크박스의 세로 길이를 조정합니다. */
}
.task-item input[type="checkbox"]:checked + label {
  color: rgb(138, 165, 255); /* 체크된 상태일 때 텍스트의 색상을 변경합니다. */
}

.title {
  font-size: 35px;
}

.horizontal-list {
  display: flex;
}

.horizontal-list a {
  margin-right: 20px;
}

.horizontal-list a:last-child {
  margin-right: 30px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box button {
  text-transform: uppercase;
  outline: 0;
  background: #2ebccf;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-box button:hover,
.form button:active,
.form button:focus {
  background: #2482cf;
}

.login-box .message {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}

.change {
  color: rgb(67, 178, 241);
}