
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 500px;
  }
  
 .horizontal-list {
    display: flex;
  }
  
  .horizontal-list a {
    margin-right: 20px;
  }
  
  .horizontal-list a:last-child {
    margin-right: 30px;
  }

.custom-navbar {
    background-color: #2e2e2e;
  }

.custom-navbar .nav-link {
    color: rgb(255, 255, 255);
  }
  